/*******************************************************************************
 * Stylesheet source for Ben Williams' Portfolio Site
 ******************************************************************************/

/*
 * Variables
 */

// Fonts
$monospace: 'Oxygen Mono', Courier, monospace;
$sans: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;

// Colours and background images
$screen-background-colour: #20130A;
$screen-text-colour: #82A138;

$caliper-dark-colour: #e2e1e5;
$caliper-light-colour: #EDECF0;
$caliper-link-colour: #3C3B45;
$caliper-link-hover-colour: #564BB0;

$keyboard-opacity: 0.8;
$keyboard-background-image: url('../img/keyboard-texture.png');
$keyboard-background-colour-light: rgba(250, 250, 250, $keyboard-opacity);
$keyboard-background-colour-dark: rgba(230, 230, 235, $keyboard-opacity);

$key-shadow-colour: rgba(#888, 0.95);
$key-text-colour: #666;
$key-side-colour: #ccc;
$key-top-colour: #fefefe;

$footer-belt-colour: lighten(#B1CB76, 2%);

$mousepad-background-colour: lighten(#666096, 4%);
$mousepad-colour: #9D99B6;

// Layout values
$mousepad-bottom-radius: 12px;
$key-size: 85px;
$key-height: 5px;

// Main div
.main {
   padding: 0;
}

// Title section
.screen {
   background-color: $screen-background-colour;
   height: 90px;
   padding: 35px 0 0 4px;

   a,
   a:link,
   a:visited,
   a:hover,
   a:active {
      color: $screen-text-colour;
      text-decoration: none;
   }

   h1 {
      margin: 0;
      font-family: $monospace;
      font-size: 18px;
      height: 100%;
      letter-spacing: -1px;
      text-shadow: 0 0 7px rgba(saturate($screen-text-colour, 80%), 0.7);

      .word {
         font-size: 22px;
         margin: 0 3px 0 3px;
      }

      .cursor {         
         background-color: $screen-text-colour;
         color: $screen-background-colour;
         text-shadow: none;
         box-shadow: 0 0 7px rgba(saturate($screen-text-colour, 80%), 0.7);
      }
   }
}

// Title section shine effect
.screen:before{
    content:'';
    position:absolute;
    width:130%;
    height:100px;
    top:-73px;
    right:-5%;

    // Fallback
    background:rgba(255,255,255,0.3);

    // Webkit
    background: -webkit-gradient(
      linear,
      left top, left bottom,
      from(rgba(255,255,255,0.1)),
      to(rgba(255,255,255,0.3))
    );
    
    // Firefox
    background: -moz-linear-gradient(
      top,
      rgba(255,255,255,0.1),
      rgba(255,255,255,0.3)
    );

    // CSS3
    background: linear-gradient(
      top,
      rgba(255,255,255,0.1),
      rgba(255,255,255,0.3)
    );
    ;
    
    // Webkit
    -webkit-transform:rotate(-10deg);
    -webkit-border-bottom-left-radius: 200px 20px;
    -webkit-border-bottom-right-radius: 200px 10px;
    -webkit-border-top-right-radius: 5px 100px;

    // Firefox
    -moz-transform:rotate(10deg);
    -moz-border-radius-bottomleft:200px 20px;
    -moz-border-radius-bottomright:200px 10px;
    -moz-border-radius-topright:5px 100px;
    
    //CSS3
    transform:rotate(-5deg);
    border-bottom-left-radius:200px 20px;
    border-bottom-right-radius: 200px 10px;
    border-top-right-radius:5px 100px;
}

// Navigation section
.calipers {
   svg {
      position: absolute;
   }

   .head {
      width: 60px;
      height: 176px;
      position: absolute;
      top: -3px;
      left: -36px;

      path {
         fill: $caliper-light-colour;
      }
   }

   .slider {
      position: absolute;
      left: 137px;

      path {
         fill: $caliper-dark-colour;
      }
   }

   .slider-top {
      top: -2px;
      width: 180px;
      height: 100px;
   }

   .slider-bottom {
      top: 115px;
      width: 180px;
      height: 100px;
   }

   .shaft {
      background-color: $caliper-light-colour;
      box-shadow: -3px 1px 1px 2px rgba(0,0,0,0.5);

      ul {
         padding: 8px 0 0 0;
         margin: 0 0 0 187px;
         height: 36px;

         li {
            display: inline-block;

            a,
            a:link,
            a:visited,
            a:hover,
            a:active {
               text-decoration: none;
               color: $caliper-link-colour;
               font-family: $sans;
               font-size: 14px;
               padding: 8px;
               text-transform: capitalize;
               z-index: 20;
            }

            a:hover,
            a:active,
            a.active {
               color: $caliper-link-hover-colour;
            }
         }
      }
   }
}

// Keyboard section on the homepage
.keyboard {
   height: 290px;
   padding: 105px 25% 90px 25%;
   display: flex;
   justify-content: space-between;

   .key {
      width: $key-size;
      height: $key-size + $key-height;
      border-radius: $key-height;
      display: inline-block;
      box-shadow: 0 ($key-height / 3) 0 ($key-height / 2) $key-shadow-colour;
      position: relative;
      cursor: pointer;
      -webkit-touch-callout: none;
       -webkit-user-select: none;
       -khtml-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
       user-select: none;

       .top {
         width: $key-size;
         height: $key-size;
         border-radius: $key-height;
         background-color: $key-top-colour;
         position: absolute;
         z-index: 2;
      }

      .top span {
         position: absolute;
         bottom: 0;
         color: $key-text-colour;
         margin: 0 0 6px 8px;
         font-family: $sans;
         font-size: 13px;
      }

      .side {
         margin-top: $key-size - (($key-height * 2) / 3);
         height: $key-height * 2;
         width: $key-size;
         background-color: $key-side-colour;
         border-bottom-right-radius: $key-height;
         border-bottom-left-radius: $key-height;
         position: absolute;
         z-index: 1;
      }
   }

   .key.down {
      height: $key-size;
      margin-top: $key-height;
      box-shadow: 0 0 0 ($key-height / 3) $key-shadow-colour;
   }

   .key.down .side {
      height: 0;
   }
}

// Main content section
.content {
  padding: 60px 15% 50px 15%;
  font-family: $sans;
  color: $screen-background-colour;
  color: #656565;

  h2 {
    font-family: $monospace;
    color: $mousepad-background-colour;
    border-bottom: 2px solid $footer-belt-colour;
    margin-bottom: 30px;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #444;
  }

  dt {
    font-family: $monospace;
    color: #000;
  }

  dd {
    margin-bottom: 15px;
  }
}

// Article - hadles article with inline image and text block
article {
  display: flex;

  .article-image {
    display: inline-block;
    margin-right: 5%;
  }

  .article-image.portfolio-item {
    img {
      border-radius: 9%;
    }
  }
}

// All immediate descendants of articles (i.e. image and text divs)
article > * {
  align-self: center;
  display: inline;
}

// All but the last article
article:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 2px solid lighten($mousepad-background-colour, 35%);
  margin-bottom: 20px;
}

// Sandblasted gradient overlay
.sandblasted-al {
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;

  // Fallback
  background: $keyboard-background-colour-dark;

  // Firefox 3.6+
  background: -moz-linear-gradient(
    left,
    $keyboard-background-colour-light 0%, 
    $keyboard-background-colour-dark 28%, 
    $keyboard-background-colour-dark 74%, 
    $keyboard-background-colour-dark 100%
  );

  // Chrome & Safari4+
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%,$keyboard-background-colour-light), 
    color-stop(28%,$keyboard-background-colour-dark), 
    color-stop(74%,$keyboard-background-colour-light), 
    color-stop(100%,$keyboard-background-colour-dark)
  );

  // Chrome10+,Safari5.1+
  background: -webkit-linear-gradient(
    left,
    $keyboard-background-colour-light 0%,
    $keyboard-background-colour-dark 28%,
    $keyboard-background-colour-light 74%,
    $keyboard-background-colour-dark 100%
  );

  // Opera 11.10+
  background: -o-linear-gradient(
    left,
    $keyboard-background-colour-light 0%,
    $keyboard-background-colour-dark 28%,
    $keyboard-background-colour-light 74%,
    $keyboard-background-colour-dark 100%
  );

  // IE10+
  background: -ms-linear-gradient(
    left,
    $keyboard-background-colour-light 0%,
    $keyboard-background-colour-dark 28%,
    $keyboard-background-colour-light 74%,
    $keyboard-background-colour-dark 100%
  );

  // CSS3
  background: linear-gradient(
    to right,
    $keyboard-background-colour-light 0%,
    $keyboard-background-colour-dark 28%,
    $keyboard-background-colour-light 74%,
    $keyboard-background-colour-dark 100%
  );

  //IE6-9
  filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr='$keyboard-background-colour-light',
    endColorstr='$keyboard-background-colour-dark',
    GradientType=1
  );
}

// Sandblasted texture background
.sandblasted-al:after {
   content : "";
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   background-image: $keyboard-background-image; 
   width: 100%;
   height: 90%;
   opacity : 1;
   z-index: -1;
}

// An image presented as a paper photo with a caption
.photo {
  padding: 8px;
  background-color: #fefefe;
  box-shadow: 1px 1px 3px #ccc;

  img {
    height: 150px;
  }

  // Caption
  p {
    text-align: center;
    color: $mousepad-background-colour;
    margin: 6px 0 0 0;
    font-family: $monospace;
  }
}

// Horizontal line seperating content and footer
.footer-belt {
   height: 8px;
   background-color: $footer-belt-colour;
   margin: 0;
   border: none;
}

// Footer section
.mousepad {
   padding: 40px 0 40px 0;
   color: $mousepad-colour;
   background-color: $mousepad-background-colour;
   border-bottom-right-radius: $mousepad-bottom-radius;
   border-bottom-left-radius: $mousepad-bottom-radius;
   border-bottom: 4px solid darken($mousepad-background-colour, 8%);

   .mousepad-print {
      text-align: center;
      font-family: $monospace;
      text-shadow: 0px 1px 1px darken($mousepad-colour, 20%);
   }

   .logo-small {
      font-weight: bold;
      font-size: 22px;
      letter-spacing: 3px;

      span {
         font-size: 30px;
      }
   }

   .copyright-text {
      font-size: 10px;
      font-weight: bold;
   }
}
